@media only screen and (min-width: 992px) and (max-width: 1200px)
{
	.footer_r8 
	{
    	padding-left: 117px;
	}
	.topnav .search-container 
	{
    	float: right;
    	margin-top: 5px;
    	margin-right: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px)
{
	.footer_r8 
	{
		width: 0px;
    	padding-left: 2px;
    	float: left;
	}
	.topnav .search-container 
	{
    	float: right;
    	margin-top: 5px;
    	margin-right: -15%;
	}
}
@media only screen and (max-width: 767px)
{
	.topnav a {
		margin-left: 0%;
    padding: 20px 0px;
}
.topnav input[type=text] {
    padding: 5px;
    margin-top: 8px;
    font-size: 13px;
    border: none;
}.topnav .search-container {
    float: right;
    margin-top: 8px;
    margin-right: -2%;
}
.topnav .search-container button {
    font-size: 12px;
}
.social-media {
    margin-top: 26px;
    font-size: 13px;
}
.slide-content h1 {
    font-size: 20px;
}
.welcome_lft_right {
    margin-left: 15%;
}
.welcome_part
{
	height: 650px;
}
.footer {
    height: 330px;
}
.footer_pic {
    width: 150px;
    height: 160px;
    margin-top: 15px;
}
.footer_r8 {
    width: 0px;
    padding-left: 90px;
    float: left;
}
.footer_mid {
    width: 20px;
    padding-left: 160px;
    float: left;
}
.footer_lft {
    width: 20px;
    padding-left: 140px;
    float: left;
}
}
