body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #5a5d5a;
}
.container
{
	/*margin-top:-10px;*/
	padding: 0;
}

.header
{
	/*margin-bottom:10px;*/
    background: #f29d00;
    color: #ffffff;
    height: 100px;
    display: block;
	 overflow: hidden;
}
.logo
{
	width: 30%;
  color: black;
	margin-left: 5%;
	height: 100%;
	float: left;
}
.logo h1
{
  margin-top: 14px;
  font-size: 41px;
  color: black;
	width: 80%;
  margin-bottom: -15px;
}
.logo p
{
	color: black;
	width: 80%;
}
.contact-info
{
    color: black;
	  margin-top: 17px;
    margin-left: 8%;
    width: 30%;
    font-size: 17px;
    height: 100%;
    float: left;
}
.social-media
{
	margin-top: 17px;
    width: 20%;
    /*margin-left: %;*/
    font-size: 15px;
    height: 100%;
    float: left;
}
.social-icon
{
	border-radius: 10%;
	padding:5px;
	background-color: black;
	color:white;
	margin-left: 2%;
	width: 15px;
	text-align: center;
}
.topnav {
	  display: block;
  	overflow: hidden;
  	background-color: #1c1f1d;
  	height: 60px;
}

.topnav a 
{
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  margin-left:3%;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f29d00;
  color: black;
  height: 100%;
}

/*.topnav a.active {
  background-color: #2196F3;
  color: white;
}*/

.topnav .search-container {
  	float: right;
    margin-top: 5px;
    margin-right: 10%;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #f29d00;
}
.welcome_part
{
  display: block;
  overflow: hidden;
  height: 600px;
  width: 100%;
  background-color: black;
}
.welh2
{
  text-align: center;
}
.welcome_part2
{
  margin-top: 3%;
  width: 100%;
}
.welcome_part h2
{
  margin-top: 5%;
  color:#f29d00;
}
.scnd_p
{
  text-align: center;
  color: white;
}

.welcome_r8
{
  width:20%;
  margin-left: 5%;
  float: left;
}
.firsthd
{
  color:white;
}
.frst_p
{
  opacity: 0.7;
  text-align:left;
  float: right;
  color: white;
}
.welcome_lft
{
  width:70%;
  float: left;
  margin-left: 5%;
}
.our_work
{
  color: white;
  text-align: right;
}
.welcome_lft_right
{
  width:35%;
  float: left;
  margin-left: 5%;
}
.welcome_lft_lft
{
  width:35%;
  float: left;
  margin-left: 5%;
}
.footer
{
  display: block;
  overflow: hidden;
  height: 450px;
  width: 100%;
  background-color: #1c1f1d;
}
.footer h2
{
  margin-top: 5%;
  text-align: center;
  color:#f29d00;
}
.footer_r8
{
    width: 20px;
    padding-left: 245px;
    float: left;
}
.footer_mid
{
  width:20px;
  padding-left: 245px;
  float: left;
}
.footer_lft
{
  width:20px;
  padding-left: 245px;
  float: left;
}
.footer_pic
{
    width: 245px;
    height: 231px;
    margin-top: 40px;
}
.footer h2
{
  margin-top: 5%;
  text-align: center;
  color:#f29d00;
}
.common_btn a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 6px;
    border: 1px solid #fff;
    position: relative;
}
.common_btn a:hover
{
    background-color: #f29d00;
    /*text-decoration: underline;*/

}
#slider {
   height: 300px;
   width: 100%;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -110%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -220%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -340%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 465%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
    width: 25%;
    background: #00171F;
}
#slides .slide_2 {
    width: 25%;
   background: #003459;
}
#slides .slide_3 {
  width: 25%;
   background: #007EA7;
}
#slides .slide_4 {
    width: 25%;
    background: #00A8E8;
}
#bullets {
   margin: -40px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
.slide-content {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  color: #fff;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}
.slide-content h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 45px;
}